<script>
	/** @type {import('./$types').PageData} */
	export let data;
</script>

{#if data}
	<h1 class="text-lg">{data.title}</h1>
	<small>From: {data.posted_by}</small>
	<p class="p-3">{data.detail}</p>
{/if}
